In [1]:
from proceset import Proceset

In [2]:
base_url = 'https://proceset.example/'
api_key = 'c2a5b71aa2774dbc95ca37107ac2c6ac'

In [3]:
proceset = Proceset(base_url, api_key)

In [4]:
proceset.conn_guid

'69CE1054806C301F12CF81E0424C089E1'

In [5]:
proceset.send_request('query{server{time}}')

{'data': {'server': {'time': 1680637670243}}}

In [6]:
dataset = proceset.extract_data('select * from python_connector.example_1')

In [7]:
dataset.head()

  string_value  int_value  float_value
0  lorem ipsum         42         3.14
1  lorem ipsum         42         3.14
2  lorem ipsum         42         3.14
3  lorem ipsum         42         3.14
4  lorem ipsum         42         3.14

In [8]:
proceset.upload_data('python_connector', 'example_1', dataset)

{'data': {'clickhouse': {'upload_data_table': True}}}

In [9]:
proceset.execute_script(3204)

{'data': {'automation': {'script': {'execute': {'id': 3204,
     'is_running': True}}}}}